body{
    font-family:'Poppins', sans-serif;
    margin: 0;
}

.orange-text{
    color: orange;
}

.display{
    display: flex;
}

.half-width{
    width: 50%;
}

#top{
    width: 100%;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.top-left{
    
    margin:0px 0px 0px 80px;
    padding:0px 0px 0px 25px;
    
}

h1{
    font-size: 50px;
    margin: 30px 0;
    font-weight:700;
}

h3{
    font-size: 25px;
    font-weight:700;
}

a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    vertical-align: middle;
}

.top-left a:hover{
    transition: 0.3s ease-out;
    background-color: white;
}

p{
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 500;
    color: #696969;
}

.top-right{
    margin-top: 150px;
}

.top-right img{
    width: 100%;
}

#middle{
    width: 100%;
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}

.middle-left img{
    width: 100%;
}

.middle-text{
    padding-right: 30%;
}

.cards{
    display: flex;
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 150px;
    width: 100%;
}

.shadow{
    box-shadow: 10px 10px 30px gray;
}

.left-card{
    width: 40%;
    margin: 0 5%;
    padding: 20px;
    border-radius: 15px;
    border-left: 7px solid;
    border-image: linear-gradient(lightsalmon, tomato);
    border-image-slice: 1;
}

.right-card{
    width: 40%;
    margin: 0 5%;
    padding: 20px;
    border-radius: 15px;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}

.cards h1{
    font-size: 40px;
    margin-bottom: 0;
}

.cards h3{
    font-size: 30px;
}

.footer p{
    margin: 150px 0 20px;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 650px){
    h1{
        font-size: 25px;
        text-align: center;

    }
    h3{
        font-size: 15px;
    }
    .display{
        display: flex;
        flex-direction: column;
    }
    .top-left{
        margin: 0;
        padding: 0;
    }
    .half-width{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    #top{
        width: 100%;
        background-image: url('images/top-banner.png');
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }
    .top-right{
        margin-top: 0px;
    }
    #middle{
        width: 100%;
        background-image: url('images/dream-bg.png');
        background-repeat: no-repeat;
        background-position: right;
        background-position-y: center;
    }
    .middle-right h1,h3{
        text-align: center;
    }
    span{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middle-text{
        padding-right: 0%;
    }
    .cards{
        display: flex;
        flex-direction: column;
        background-image: url('images/exp-bg.png');
        background-repeat: no-repeat;
        background-position-y: center;
        width: 100%;
    }
    .experiences h1{
        text-align: center;
    }

    .footer p{
        font-size: 20px;
        text-align: center;
    }

    
    
    
}